
@import url('https://fonts.googleapis.com/css2?family=Allura&family=Delicious+Handrawn&family=Love+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sniglet&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&display=swap');
.poster{
    background-color:#ffeaea ;
    width: 100%;
    height: 3000px;
}
.topper{
  font-family: "Allura", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  text-align: center;
}
.dessert-section{
    display: flex;
    justify-content: center;
    gap: 60px; 
    flex-wrap: wrap; 
    margin-bottom: 40px;
  }
.dessert-card {
    width: 350px;
    border-radius: 30px;
    background: white;
    padding: 25px;
    box-shadow: 0px 0px 12px rgba(0,0,0,0.15);
    overflow: hidden;
    transition: transform .25s ease, box-shadow .25s ease;
}
.dessert-card:hover{
  transform: translateY(-6px);
  box-shadow: 0px 8px 20px rgba(0,0,0,0.18);
}
.dessert-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 20px;
  display: block;
}
.dessert-card h3 {
    margin-top: 10px;
    color: #0a0909;
    font-family:"Sniglet", system-ui;
}
.dessert-card p {
    font-size: 13pt;
    color: hsl(0, 88%, 52%);
    margin-bottom: 0px;
    text-align: center;
    font-family:"Sniglet", system-ui ;
    background-color: #f7cece;
    border-radius: 15px;
    display: inline-block;
    padding: 4px 6px;
    margin: 10px auto 0;
    
}
.explain h4 {
  font-size: 15px;
  color: #666;
  text-align: left;
  margin-top: -15px;
  font-family: "Comic Relief", system-ui;
  font-weight: 400;
  margin-top: 10px;
  font-style: normal;
}  